<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>게시판</title>
    <style>
        li{
          text-align:center;
        }
        h1 {
            margin: 30px;
            text-align:center;
        }
        body {
            margin:30px;
        }
    </style>
</head>
<body>
    <article>
        <form action="/topic/add" method="POST" name = "add">
            <div class="form-group">
                <a href="/topic"><h1>Server Side Javascript</h1></a>      
                 <% for(var i = 0; i < topics.length; i++){ %> 
                     <li><%= topics[i].title %> &nbsp; : &nbsp; <%= topics[i].description %></li>
                <% } %>
                <br>
                <label for="title">제목 : </label>
                <input type="text" name="title" class="form-control" placeholder="제목" style="width: 100%"><br>
                <label for="description">내용 : </label>
                <textarea type="text" name="description" class="form-control" placeholder="내용" rows= "5px"></textarea><br>
                <label for="author">글쓴이 : </label>
                <input type="text" name="author" class="form-control" placeholder="글쓴이" style="width:100%"><br>
                <a href="/topic"><input type="submit" value = "추가" class="form-control btn-outline-info"></a>
            </div>
        </form>
    </article>
</body>
</html