<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        h1 {
            margin: 30px;
            text-align:center;
        }
        body {
            margin:30px;
        }
    </style>

    <title>Edit</title>
</head>
<body>
    <a href="/topic"><h1> Server Side Javascript</h1></a>  

    <article>
        <form action="/topic/<%= topic.id%>/edit" method="POST" name = "edit" onsubmit="return confirm('수정하시겠습니까?')">
            <div class="form-group">
                <label for="title">제목 : </label>
                <input type="text" name="title"  class="form-control" value="<%= topic.title%>"><br>
                <label for="description">내용 : </label>
                <textarea type="text" name="description" class="form-control" rows="5"><%= topic.description%></textarea><br>
                <label for="author">글쓴이 : </label>
                <input type="text" name="author"  class="form-control" value="<%= topic.author%>"><br>
                
                <a href="/topic"><input type="submit" value = "수정" class="form-control btn-success"></a>
                <a href="/topic"><input type="submit" value = "취소" class="form-control btn-warning"></a>
            </div>
        </form>
    </article>
</body>
</html>