<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <h1>Hello World!!!</h1><br>
    <p>
        <h1><%=data.name %> 님</h1>
        <h1><%=data.age %> 세</h1>
        <h1><%=data.address %> 님</h1>
    </p>
</body>
</html>